<form class="form" action="#" method="post" [formGroup]="login">
  <div class="field">
    <label class="field-label" for="email">Email</label>
    <mat-form-field appearance="outline" class="full">
      <input
        id="email"
        matInput
        type="email"
        placeholder="Enter Your Email Address"
        name="email"
        autocomplete="email"
        required
        formControlName="email"
      />
    </mat-form-field>
  </div>


  <div class="field">
    <div class="field-row">
      <label class="field-label" for="password">Password</label>
      <a class="link" href="#">Forgot Your Password?</a>
    </div>

    <mat-form-field appearance="outline" class="full">
      <input
        id="password"
        matInput
        type="password"
        placeholder="Your Password"
        name="password"
        autocomplete="current-password"
        required
        formControlName="password"
      />
   
    </mat-form-field>
  </div>

  <button mat-flat-button color="primary" class="primary-btn" type="submit" (click)="onLogin()">
    Log in 
  </button>
  <button mat-flat-button color="primary" class="primary-btn" type="submit" name="Register">
    Register
  </button>

 
</form>
